@import "./styles/_index.css";
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-align: center;
  list-style-type: none;
  font-family: 'Raleway', sans-serif;
   
  /* font-family: "Poppins", sans-serif; */
  transition: 1s ease;
  -webkit-transition: 1s ease;
  -moz-transition: 1s ease;
  -ms-transition: 1s ease;
  -o-transition: 1s ease;
}
.wrapper {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: row;
  position: absolute;
  height: auto;
  width: 100%;
  max-width: 1400px;
}
body {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  margin-top: 48px;
}
