@import "./menu.css";
@import "./navigation.css";
@import "./header.css";
@import "./footer.css";
@import "./content/index.css";

@media (min-width: 0px) {
  .container {
    padding: 0px 16px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100vw;
    min-height: 90vh;
    position: relative;
    top: 0;
  }
}
@media (min-width: 540px) {
  .container {
    width: 100%;
  }
}
@media (min-width: 760px) {
  .container {
    width: 80%;
    right: 0;
    padding: 0;
  }
}
