@media (min-width:0px) {
    header {
        display: flex;
        flex-direction: row;
        width: 100%;
        justify-content: space-between;
        height: auto;
        font-size: 28px;
        padding: 8px;
    }
}

@media (min-width: 540px) {

}
@media (min-width: 760px) {
    header {
         display: none;
    }
}