@media (min-width: 0px) {
  .menu {
    flex: 1;
    /* display: flex; */
    display: none;
    min-height: 100vh;
    justify-content: start;
    align-items: start;
    position: fixed;
    top: 0;
  }

  .social {
    position: fixed;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 56px;
  }
  .close-menu {
    position: fixed;
    top: 0;
    right: 0;
    padding: 12px 16px;
    line-height: 24px;
    font-size: 24px;
    background-color: transparent;
  }
  .social li {
    height: 60%;
    width: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .social svg {
    width: 20px;
    height: 20px;
    color: darkred;
  }
  .sitemap {
    padding: 16px 5% 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .sitemap li {
    max-width: 80%;
    padding-bottom: 16px;
  }
  .page-title,
  .gallery-title {
    font-weight: 800;
    text-transform: uppercase;
  }
  .project-title {
    font-weight: normal;
    text-transform: capitalize;
  }
}
@media (min-width: 760px) {
  .menu {
    display: flex;
    min-height: 1px;
    height: auto;
    width: 20%;
    flex-direction: column;
    position: relative;
    margin-right: 1rem;
  }
  .social {
    position: relative;
    bottom: 0;
  }
  .social li {
    flex: 1;
    width: auto;
  }
  .close-menu {
    display: none;
  }
  .sitemap {
    width: 100%;
    border: 1px solid black;
  }

  .menu-logo-container {
    position: relative;
    top: 0;
    height: 80px;
    width: 100%;
    padding: 12px;
    background-color: rgb(255, 168, 168);
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .menu-logo {
    background-color: red;
    /* height: auto;
    width: auto; */
  }
}
