@media (min-width:0px) {
  .navigate {
    flex: 1;
    padding: 32px;
    width: 100%;
  }
  .navigate i {
    font-size: 16px;
    padding: 4px;
  }
  .navigate a {
    border-bottom: 1px solid black;
    padding: 8px;
    text-decoration: none;
    color: black;
    height: 100%;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
  }
}
@media (min-width: 540px) {

}
@media (min-width: 760px) {
  .navigate {
    position: relative;
    bottom: 0;
  }
}
